Exercise 1: Print First 10 natural numbers using while loop

In [24]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern:  1111
                                           111
                                            11
                                             1

In [25]:
for i in range(4,0,-1):
    print(" " *(4-i), end="")
    print("1" *i)

1111
 111
  11
   1

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [26]:
num = int(input("Enter The Number: "))
sum=0
for i in range(1,num+1):
    sum=sum+i
print(sum)

Enter The Number: 5
15

Exercise 4: Write a program to print multiplication table of a given number

In [27]:
num = int(input("Enter The Number: "))
for i in range(1,11):
    print(num,'*',i,'=',num*i)

Enter The Number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Exercise 6: Count the total number of digits in a number

In [33]:
num = int(input("Enter The Number: "))
count = 0
while num != 0:
    num //= 10
    count = count + 1
print("Total Number of Digit is: ",count)

Enter The Number: 12345
Total Number of Digit is:  5

Exercise 7: Print the following pattern : Diamond shape

In [1]:
height = 5 #int(input("Enter The Hight: "))
for i in range(height):
    print(" " * (height-i-1)+ "*" * (2*i+1))
for i in range(height-2,-1,-1):
    print(" " * (height-i-1)+ "*" * (2*i+1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

Exercise 8: Print list in reverse order using a loop

In [39]:
my_list=[1,2,3,4,5]
new_list=[]
for i in range(len(my_list)):
    new_list.insert(i,my_list[-1])
    my_list.pop(-1)
print(new_list)

[5, 4, 3, 2, 1]

Exercise 9: Display numbers from -10 to -1 using for loop

In [40]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [42]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

Exercise 11: Write a program to display all prime numbers within a range

In [49]:
lower = 10
upper = 100
print("Prime Number Between",lower,"and",upper,"are:")
for num in range(lower,upper+1):
    if num > 1:
        for i in range(2,num):
            if(num % i) == 0:
                break
        else:
            print(num)

Prime Number Between 10 and 100 are:
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Exercise 12: Display Fibonacci series up to 10 terms

In [60]:
nums = int(input("Enter Number: "))
n1, n2 = 0, 1
count = 0

if nums <= 0:
    print("Please enter a positive integer")
else:
    print("Fibonacci sequence:")
    
    while count < nums:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

Enter Number: 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

Exercise 13: Find the factorial of a given number

In [63]:
num = int(input("Enter the number: "))
fact = 1

if num < 0:
    print("Sorry, Plz Enter Positive Number")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        fact *= i

print("The factorial of", num, "is", fact)

Enter the number: 15
The factorial of 15 is 1307674368000

Exercise 14: Reverse a given integer number

In [64]:
num = int(input("Enter the number: "))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed number:", reversed_num)

Enter the number: 12345
Reversed number: 54321

Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [65]:
my_list = [1, 2, 3, 4, 5, 6, 7]
odd_elements = my_list[1::2]
print(odd_elements)

[2, 4, 6]

Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [68]:
num = int(input("Enter the number: "))

for i in range(1, num + 1):
    cube = i ** 3
    print(f"The cube of {i} is {cube}")

Enter the number: 5
The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125

Exercise 17: Find the sum of the series upto n terms

In [71]:
n = int(input("Enter the number of terms: "))
sum = 0
j = 1

for i in range(1, n + 1):
    sum = sum + j
    j = (j * 10) + 1

print("The sum of the series is", sum)

Enter the number of terms: 5
The sum of the series is 12345