**Importing Lablary**

In [105]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

**XGBoost Classifier**

In [106]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score
from xgboost import XGBClassifier

In [107]:
df = pd.read_csv("Wholesale customers data.csv")

In [108]:
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

**Sample**

In [109]:
df.sample(10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
51,1,3,3347,4051,6996,239,1538,301
345,1,3,1198,2602,8335,402,3843,303
297,2,2,8090,3199,6986,1455,3712,531
372,1,3,3884,3801,1641,876,397,4829
262,1,1,23257,1372,1677,982,429,655
128,1,3,140,8847,3823,142,1062,3
402,1,3,26539,4753,5091,220,10,340
233,1,1,964,4984,3316,937,409,7
307,1,2,17327,2374,2842,1149,351,925
190,1,3,16936,6250,1981,7332,118,64

In [110]:
df['Channel'].unique()

array([2, 1], dtype=int64)

In [111]:
X = df.drop(['Channel'] ,axis=1)
y = df['Channel']

**Label Encoder | Transformer**

In [112]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [113]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [114]:
xgbm = XGBClassifier()

In [115]:
KFoldCV = KFold(n_splits=8,shuffle=True,random_state=42)

**Cross Validation Score**

In [116]:
check = cross_val_score(xgbm, X_train, y_train, cv=KFoldCV)

In [117]:
check

array([0.95454545, 0.97727273, 0.93181818, 0.90909091, 0.93181818,
       0.79545455, 0.93181818, 0.95454545])

**Fitting XGBoost Model**

In [118]:
xgbm.fit(X_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

**MEAN Accuracy of Model**

In [122]:
print(f"The mean accuracy is : {check.mean():.2%}.")

The mean accuracy is : 92.33%.

**Accuracy Model**

In [120]:
accuracy = xgbm.score(X_test,y_test)

In [121]:
print(accuracy)

0.9204545454545454